@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-cyan-400;
}

.wave {
    background: url('data:image/svg+xml,<svg width="1920px" height="120px" viewBox="0 0 1920 120" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>2/1@svg</title><g id="2/1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M0,0 C240,0 240,5 480,5 C720,5 720,0 960,0 C1200,0 1200,5 1440,5 C1680,5 1680,0 1920,0 L1920,120 L0,120 L0,0 Z" id="Rectangle" fill="%23ADD8E6" fill-rule="evenodd"></path></g></svg>') repeat-x;
    position: absolute;
    opacity: 1;
    bottom: 0;
    width: 3840px; 
    height: var(--wave-height);
    max-height: 100%;
    transform: translate3d(0, 0, 0);
    animation: wave 10s linear infinite;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1920px;
    }
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.months { grid-area: months; }
.days { grid-area: days; }
.squares { grid-area: squares; }
.graph {
    display: inline-grid;
    grid-template-areas: "empty months"
                        "days squares";
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    padding: 20px;
    border: 1px #e1e4e8 solid;
    margin: 20px;
}

.months {
    display: grid;
    grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                            calc(var(--week-width) * 4) /* Feb */
                            calc(var(--week-width) * 4) /* Mar */
                            calc(var(--week-width) * 5) /* Apr */
                            calc(var(--week-width) * 4) /* May */
                            calc(var(--week-width) * 4) /* Jun */
                            calc(var(--week-width) * 5) /* Jul */
                            calc(var(--week-width) * 4) /* Aug */
                            calc(var(--week-width) * 4) /* Sep */
                            calc(var(--week-width) * 5) /* Oct */
                            calc(var(--week-width) * 4) /* Nov */
                            calc(var(--week-width) * 5) /* Dec */;
}

.days,
.squares {
    display: grid;
    grid-gap: var(--square-gap);
    grid-template-rows: repeat(7, var(--square-size));
}

.days li{
    line-height: 15px;
}

.squares {
    grid-auto-flow: column;
    grid-auto-columns: var(--square-size);
}

.square {
    position: relative;
    background-color: #ebedf0;
}

.square:hover .tooltip {
    top: -40px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 12px;
    background: #ffffff;
    color: #000;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 100;
}

.tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
